.all-products-back
{
    width: 90%;
    
    margin: auto;
    height: 100vh;
}

.fliters-group-and-products
{
    display: flex;

}

.all-products-products-card
{
   
    width: 74%;
    margin-top: 10px;
}


.un-list
{
    display: flex;
    flex-wrap: wrap;
}

.no-products-image
{
    width: 70%;
    background-size: cover;
}